.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top, #00ffaa, #c300ff);
    padding: 10px;
}
.counter-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}
.counter-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #000000;
}
.counter-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d4fff8;
    border-radius: 30px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    background: #81e6ff;
    padding: 16px 50px;
    color:#fff;
    font-size: 16px;
    border-radius: 40px;
}

ul li{
    position: relative;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}
ul li::before{
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border: 1px solid #000000;
    border-radius: 50%;
    top: 8px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    color: #555;
    text-decoration: line-through;
    border: 1px solid #81e6ff;
    background-color: #81e6ff;

}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #ff3636;
    text-align: center;
    line-height: 40px;
    transition: 1200ms;
    border-radius: 50%;

}
ul li span:hover{
    background: #292323;
}